.*
!.coveragerc
!.env
!.pylintrc
.idea
venv
db.sqlite3
*/db.sqlite3
.gitlab-ci.yml
.gitignore
__pycache__/
*/__pycache__
.dockerignore
docker
README.md
.git
.editorconfig
.gitattributes
.github
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
.ipython
.mypy_cache
.vscode
cli
.ipynb_checkpoints
.pytest_cache
.coverage
swag
nginx
local.yml
production.yml
.env
