<!DOCTYPE html>
<head>
    <title>Status of Major Pages</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <br>
    <br>
    <center>
    <div class="card w-50 center">
    <h3 class="card-header">Overall Dms Status:</h3>
    <h1><center>{% if dms_server and core_server %}Active {% else %} Inactive {% endif %}</center></h1>

    <br>
</div>
    <br>
    <br>
    <h1>Breakdown of Reports</h1>

    <br>
    <br>

    <div>
        <!-- <td>{{i.status_code}}</td> -->
        <p><span class="text-muted">dms_server</span>
        {{ dms_server }}</p>

    <br>
    <br>
    </div>

      <div>
        <!-- <td>{{i.status_code}}</td> -->
        <p><span class="text-muted">core_server</span>
        {{ core_server }}</p>

    <br>
    <br>
    </div>
</center>
</body>
