<!DOCTYPE html>
<head>
    <title>Status of Major Pages</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>
<body>
    <br>
    <br>
    <center>
    <div class="card w-50 center">
    <h3 class="card-header">Overall Project Status:</h3>
    <h1><center>{{report}}</center></h1>
    <br>
</div>
    <br>
    <br>
    <h1>Breakdown of Reports</h1>

    <br>
    <br>
    {% for response in responses %}
    <div>
    {% for k , i in response.items %}
        <!-- <td>{{i.status_code}}</td> -->
        <p><span class="text-muted">{{k}}</span>
        {{i}}</p>
    {% endfor %}
    <br>
    <br>
    {% endfor %}
    </div>
</center>
</body>
